##################################
# VOLUMIC OCTOPUS MAX configuration
##################################

[gcode_macro VOLUMIC_Type] 
variable_mcutype: 4 # 0 = UL, 1 = SL, 2 = HL, 3 = M8, 4 = OCTO
gcode:

# OCTOPUS MAX Slot 1
[stepper_x]
step_pin: PC13
dir_pin: PC14
enable_pin: !PE6
rotation_distance: 40
endstop_pin: ^!PF0
position_endstop: 0

# OCTOPUS MAX Slot 2
[stepper_y]
step_pin: PE4
dir_pin: !PE5
enable_pin: !PE3
rotation_distance: 40
endstop_pin: ^!PF2

# OCTOPUS MAX Slot 4
[stepper_z]
step_pin: PB8
dir_pin: PB9
enable_pin: !PB7
rotation_distance: 4.0442666666666666666664
endstop_pin: ^!PF4
position_min: -3
position_endstop: 0

# OCTOPUS MAX Slot 5
[stepper_z1]
step_pin: PB5
dir_pin: PB4
enable_pin: !PB6
rotation_distance: 4.0442666666666666666664
endstop_pin: ^!PF3

# OCTOPUS MAX Slot 6
[extruder]
step_pin: PG15
dir_pin: !PB3
enable_pin: !PD5
rotation_distance: 7.71
filament_diameter: 1.75
heater_pin: PF6
sensor_type: PT100 INA826
sensor_pin: PA7
min_temp: 0
max_temp: 355
min_extrude_temp: 10
pressure_advance: 0.045
pressure_advance_smooth_time: 0.040
Max_extrude_only_distance: 300

# TMC configurations

[tmc2240 stepper_x]
cs_pin: PG14
spi_bus: spi4
interpolate: True
run_current: 0.8

[tmc2240 stepper_y]
cs_pin: PG13
spi_bus: spi4
interpolate: True
run_current: 0.8

[tmc2130 stepper_z]
cs_pin: PG11
spi_bus: spi4
interpolate: True
run_current: 0.8

[tmc2130 stepper_z1]
cs_pin: PG10
spi_bus: spi4
interpolate: True
run_current: 0.8

[tmc2130 extruder]
cs_pin: PG9
spi_bus: spi4
interpolate: True
run_current: 0.4

# Peripheral configurations

[filament_switch_sensor Detecteur_filament]
switch_pin: ^PC0
pause_on_runout: True
debounce_delay:1

[heater_bed]
heater_pin: PF13
sensor_type: Generic 3950
sensor_pin: PB1
min_temp: 0
max_temp: 150

[fan]
pin: PA4

[heater_fan Extrudeur]
pin: PA5
#tachometer_pin: PD11
#tachometer_ppr: 1
#tachometer_poll_interval: 0.0013
heater_temp: 40
max_power: 1

[controller_fan Electronique]
pin: PA3
idle_timeout: 60

[temperature_sensor Protection]
sensor_type: Generic 3950
sensor_pin: PB0
min_temp: 0
max_temp: 80
gcode_id: prot

[temperature_sensor Chambre]
sensor_type: Generic 3950
sensor_pin: PC4
min_temp: 0
max_temp: 65
gcode_id: room

[neopixel Eclairage_LEDs]
pin: PE10
chain_count: 20
color_order: BRG
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0

#[output_pin Palpeur]
#pin: PE7
#value: 0

#[probe]
#pin: !PF1
#deactivate_on_each_sample: False
#speed: 5.0
#activate_gcode:
#  Palpeur_ON
#  G4 P500
#deactivate_gcode:
#  Palpeur_OFF

[gcode_button stop_button]
pin: ^!PC15
press_gcode: {action_emergency_stop()}

[gcode_button door_button]
pin: ^PF11
press_gcode:
  DOOR_DETECT

#[output_pin Beeper]
#pin: PF8
#value: 0

#[gcode_macro Beep]
#description: Beep
#gcode:	SET_PIN PIN=Beeper VALUE=1
#		G4 P1000
#		SET_PIN PIN=Beeper VALUE=0

