########################################
# EXO42 General configuration
########################################

[safe_z_home]
home_xy_position: 5,190
z_hop: 2
z_hop_speed: 15

[bed_mesh]
horizontal_move_z: 5
mesh_min: 10,10
mesh_max: 290,190
probe_count: 5,3
fade_start: 0.5
fade_end : 3

[z_tilt]
z_positions:
   10, 10
   290, 190
points:
   40, 190
   300, 190
retries: 10
retry_tolerance: 0.01

[probe]
x_offset: 0.0
y_offset: 50.0

[extruder]
nozzle_diameter: 0.4

[stepper_x]
position_max: 300

[stepper_y]
position_endstop: 200
position_max: 200

[stepper_z]
position_max: 300

# Fichiers de configurations commun
[include macros.cfg]
[include timelapse.cfg]
