ACTION=="add", ATTRS{idVendor}=="346d", ATTRS{idProduct}=="5678", RUN+="/home/Volumic/VyperOS/mountusb.sh"
ACTION=="remove", ATTRS{idVendor}=="346d", ATTRS{idProduct}=="5678", RUN+="/home/Volumic/VyperOS/unmountusb.sh"
